# SePay Configuration
VITE_SEPAY_API_KEY=
VITE_SEPAY_API_URL=https://my.sepay.vn/userapi
VITE_BANK_NAME=MBBank
VITE_BANK_ID=970422
VITE_BANK_ACCOUNT=310923092004
VITE_ACCOUNT_NAME=TUONGTHEQUANG

# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Email Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM="MDAI Academy <noreply@example.com>"
